.filter-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px calc(200px -(2000px -100vw)/10);
    height: 100px;
   
}

.filter-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.bf{
    
    font-weight: bold;
    margin: 0;
}

.filter-icon{
    margin-left: 10px;
}

.btn-list{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.filter-btn{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    background-color: #F3F4F6;
}

.filter-btn:hover{
    background-color: #3b122b;
    color: #f8dca5;
}

.filter-btn.click{
    background-color: #3b122b;
    color: #f8dca5;
}

.hr-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0 20px;
    border: 1px solid #888;
    max-width: 500px;
    border-radius: 10px;
    text-align: start;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-bottom:10px ;
    font-size: 50px;
    
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
}

h2{
   text-align: center;
   border-top: 3px solid black;
   padding-top: 20px;
}

.modal-infor h2{
    margin-bottom: 50px;
}

.modal-text{
    font-size: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 800;
    
}

.modal-text p{
    font-weight: normal;
}

.modal-price{
    color: red;
    font-weight: bold;
    font-size: 24px;
    padding:0 20px;
    margin-top: 20px;
}

.modal-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-icon:hover{
    color: #28a745;
    cursor: pointer;
}

@media (max-width:1000px) {
    .filter-title p{
        font-size: 20px;
    }

    .btn-list{
        width: auto;
    }

    .filter-btn{
        width: 80px;
        height: 40px;
        font-size: 16px;
        margin-left: 10px;
    }
    
    .hr-box{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .modal-content{
        max-width: 400px;
    }

    .modal-image {
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: contain;
        margin-bottom: 20px;
    }

    .modal-infor h2{
        margin-bottom: 20px;
        font-size: 24px;
    }
    
    .modal-text{
        font-size: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 800;
        margin: 0;
        padding-left: 20px;
    }
    
    .modal-text p{
        font-weight: normal;
    }
    
    .modal-price{
        color: red;
        font-weight: bold;
        font-size: 24px;
        padding:0 20px;
        margin-top: 20px;
    }
    
    .modal-price{
        font-size: 16px;
    }
    
    .download-icon{
        font-size: 30px;
    }
    
}

@media (max-width:576px) {
    .filter-title p{
        font-size: 16px;
    }

    .filter-btn{
        width: 70px;
        height: 40px;
        font-size: 14px;
        margin-left: 10px;
    }
    
    .hr-box{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .modal-content{
        max-width: 300px;
    }

    .modal-image {
        width: 100%;
        height: auto;
        max-height: 150px;
        object-fit: contain;
        margin-bottom: 20px;
    }

    .modal-infor h2{
        margin-bottom: 20px;
        font-size: 16px;
    }
    
    .modal-text{
        font-size: 12px;
       
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 800;
        margin: 0;
        padding: 0;
    }
    
    .modal-text p{
        font-weight: normal;
    }
    
    .modal-price{
        color: red;
        font-weight: bold;
        font-size: 24px;
        padding:0 ;
        margin-top: 20px;
    }
    
    .modal-price{
        font-size: 16px;
    }
    
    .download-icon{
        font-size: 30px;
    }

    .close{
        font-size: 30px;
    }
}